.claimpet {
  position: absolute;
  right: -60px;
  bottom: 0px;
  @media only screen and (max-width: $md) {
    bottom: -50px;
  }
  &__videoguide {
    margin-top: rem(20px);
    margin-left: rem(30px);
  }
}
