/*** Not Inject ***/

@import './variables';

/* Import Vendor */
@import './vendor/bootstrap';

/* Import Base */
@import './base/global';
@import './base/fonts';
@import './base/states';
@import './base/utilities';

/* Import Components */
@import './components/logo.component';

html {
  color: value($color-basic, darkest);
  font-family: 'Lato-Regular';
  font-size: 16px;
  height: 100%;
  width: 100%;

  @media only screen and (max-width: 767px) {
    font-size: 12px;
  }
}
