$default-font-size: 16px;

$color-basic: (
  brightest: #ffffff,
  brighter: #b1cc4e,
  bright: #adca46,
  normal: null,
  dark: #000000,
  darker: #b0b0b0,
  darkest: #131313
);

$color-primary: (
  normal: #7ea224,
  border: rgba(#adca46, 0.22),
  scrolltrack: #edf3d6
);

$border-radius: (
  normal: 52px
);

$time: (
  slow: 0.5s,
  normal: 0.25s,
  fast: 0.15s
);

$font-weight: (
  light: 200,
  semilight: 300,
  normal: 500,
  semibold: 600,
  bold: 700,
  black: 800
);

$font-size: (
  xs: 0.5rem,
  s: 0.85rem,
  m: 1rem,
  l: 1.25rem,
  xl: 1.5rem
);

$media: (
  xxs: 360px,
  xs: 640px,
  s: 768px,
  m: 1024px,
  l: 1280px,
  xl: 1440px
);

$z: (
  xs: 1,
  s: 10,
  m: 20,
  l: 30,
  xl: 50,
  xxl: 100
);

$xl: 1539px;
$lg: 1280px;
$md: 991px;
$sm: 767px;
$xs: 479px;
$width: normal;
