.tokenselection {
  margin-top: rem(20px);
  &-option {
    /* width: 50px;
    height: 50px; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: rem(25px);
    margin-top: rem(20px);
    border: 2px solid value($color-basic, bright);
    padding: rem(15px) rem(20px);
    border-radius: rem(16px);
    opacity: 0.4;
    font-family: 'Lato-Regular';
    font-size: rem(18px);
    color: value($color-basic, dark);
    img {
      width: rem(36px);
      height: rem(36px);
      margin-right: rem(8px);
    }
  }
  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: rem(300px);
    overflow-y: auto;
    min-height: rem(300px);
    @media only screen and (max-width: $sm) {
      max-height: rem(500px);
      min-height: rem(500px);
    }
    &::-webkit-scrollbar {
      width: rem(10px);
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: value($color-primary, scrolltrack);
      border-radius: rem(15px);
      border-left: 3px solid value($color-basic, brightest);
      border-right: 3px solid value($color-basic, brightest);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: value($color-primary, normal);
      border-radius: rem(15px);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: value($color-basic, brighter);
    }
  }
  &-selected {
    opacity: 1;
  }
}
