.swapform {
  @media only screen and (max-width: $sm) {
    text-align: center;
  }
  label {
    font-family: 'Lato-Bold';
    font-size: rem(18px);
    color: value($color-basic, dark);
    margin-bottom: rem(10px);
    @media only screen and (max-width: $sm) {
      display: inherit;
      text-align: left;
    }
  }
  &__subtext {
    font-family: 'Lato-Regular';
    font-size: rem(14px) !important;
    color: value($color-basic, dark);
    margin-top: rem(-10px);
    @media only screen and (max-width: $sm) {
      text-align: left;
    }
  }
  &__description {
    font-family: 'Lato-Regular';
    font-size: rem(14px) !important;
    color: value($color-basic, dark);
    @media only screen and (max-width: $sm) {
      text-align: left;
    }
  }
  &__destinationinput {
    font-size: rem(16px) !important;
  }
  &__submit {
    margin-top: rem(15px);
    width: 100%;
    padding: rem(15px) rem(0px);
    border: none;
    border-bottom-left-radius: rem(27px);
    border-bottom-right-radius: rem(27px);
    background-color: value($color-primary, normal);
    font-family: 'Lato-Bold';
    font-size: rem(20px);
    color: value($color-basic, brightest);
    letter-spacing: 1px;
    @media only screen and (max-width: $sm) {
      width: 80%;
      border-bottom-left-radius: rem(15px);
      border-bottom-right-radius: rem(15px);
      border-top-left-radius: rem(15px);
      border-top-right-radius: rem(15px);
    }
    &:disabled {
      opacity: 0.5;
    }
  }
  &__row {
    padding: rem(0px) rem(44px);
  }
}
.w-100 {
  width: 100%;
}
