.swap {
  min-height: rem(700px);
  margin-top: rem(50px);
  @media only screen and (max-width: $md) {
    min-height: rem(1000px);
  }
  @media only screen and (max-width: $sm) {
    min-height: rem(1250px);
  }
  &__content {
    position: relative;
    display: flex;
    align-items: flex-end;
    @media only screen and (max-width: $md) {
      display: block;
      align-items: flex-start;
    }
    @media only screen and (max-width: $sm) {
      display: block;
    }
    &--mainboard {
      display: flex;
      align-items: flex-start;
      @media only screen and (max-width: $sm) {
        display: block;
      }
    }
    &__steps {
      flex: 1;
      display: flex;
      justify-content: center;
      padding: rem(100px) rem(80px);
      padding-top: rem(0px);
      padding-bottom: rem(0px);
      padding-right: rem(300px);
      @media only screen and (max-width: $sm) {
        display: initial;
      }
      /* margin-bottom: rem(150px); */
      p {
        font-family: 'Lato-Regular';
        font-size: rem(23px);
        color: value($color-basic, dark);
        letter-spacing: 0.5px;
        strong {
          font-family: 'Lato-Bold';
        }
      }
      h6 {
        font-family: 'Lato-Regular';
        font-size: rem(14px);
        color: value($color-basic, dark);
      }
    }
    &--row {
      padding-left: rem(44px);
      padding-right: rem(44px);
      @media only screen and (max-width: $sm) {
        text-align: center;
      }
    }
    &__bordercontainer {
      width: rem(500px);
      padding-top: rem(47px);
      @media only screen and (max-width: $sm) {
        width: auto;
        border: none;
      }
    }
  }
  .tokenitem {
    padding-top: rem(30px);
    display: flex;
    justify-content: space-between;
    p {
      font-family: 'Lato-Regular';
      font-size: rem(16px);
      color: value($color-basic, dark);
    }
  }
  .receive_tokens {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .margin-top-5 {
    margin-top: 5px;
  }
}
