.footer {
  position: absolute;
  bottom: rem(120px);
  min-width: 100vw;
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    cursor: pointer;
    margin-top: rem(20px);
    font-family: 'Lato-Light';
    font-size: value($font-size, m);
    color: value($color-basic, brightest);
    letter-spacing: 0.5px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__bold {
    margin-top: rem(10px);
    font-family: 'Lato-Bold';
    font-size: value($font-size, m);
    color: value($color-basic, brightest);
    letter-spacing: 0.8px;
  }
  &__center {
    margin-right: rem(50px);
    margin-left: rem(50px);
  }
  &__socialmedia {
    img {
      margin-left: rem(5px);
      margin-right: rem(5px);
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
