.header {
  padding: rem(20px) rem(100px);
  @media only screen and (max-width: $md) {
    padding: rem(20px) rem(45px);
  }

  p {
    font-size: calc(10px + 0.7vmin);
    font-family: 'Lato-Regular';
    color: value($color-basic, darker);
    margin-right: rem(20px);
  }
  .nav-link {
    color: value($color-basic, darker);
  }
  .dropdown-item {
    color: value($color-primary, normal);
  }
  &__right {
    display: flex;
    @media only screen and (max-width: $md) {
      padding-top: rem(20px);
      padding-bottom: rem(20px);
    }
  }
}
