/* stylelint-disable property-no-vendor-prefix */
.customcheckbox {
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Lato-Bold';
    font-size: rem(18px);
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eeeeee;
    border-radius: 100%;
  }

  .container:hover input ~ .checkmark {
    background-color: #cccccc;
  }

  .container input:checked ~ .checkmark {
    background-color: value($color-primary, normal);
  }

  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
