.tokenlist {
  min-height: rem(750px);
  margin-top: rem(50px);
  @media only screen and (max-width: $md) {
    min-height: rem(850px);
  }
  @media only screen and (max-width: $sm) {
    min-height: rem(1000px);
  }
  &__content {
    position: relative;
    display: flex;
    align-items: flex-start;
    @media only screen and (max-width: $md) {
      align-items: flex-start;
    }
    @media only screen and (max-width: $sm) {
      display: block;
    }
    .form-control {
      margin-top: rem(10px);
      border: none;
      border-bottom: 2px solid value($color-basic, bright);
      background: transparent;
      font-family: 'Lato-Regular';
      font-size: rem(20px);
      border-radius: 0px;
      padding-left: 0px;
      &:focus {
        box-shadow: none;
      }
    }
    .previous_btn {
      display: flex;
      align-self: end;
    }
    &__steps {
      flex: 1;
      padding: rem(100px) rem(80px);
      padding-top: rem(0px);
      margin-bottom: rem(50px);
      @media only screen and (max-width: $sm) {
        padding: rem(100px) rem(20px);
        padding-top: rem(0px);
        margin-bottom: rem(0px);
      }
      p {
        font-family: 'Lato-Regular';
        font-size: rem(23px);
        color: value($color-basic, dark);
        letter-spacing: 0.5px;
        strong {
          font-family: 'Lato-Bold';
        }
      }
      h6 {
        font-family: 'Lato-Regular';
        font-size: rem(14px);
        color: value($color-basic, dark);
      }
    }
  }
  .tokenitem {
    padding-top: rem(30px);
    display: flex;
    justify-content: space-between;
    p {
      font-family: 'Lato-Regular';
      font-size: rem(16px);
      color: value($color-basic, dark);
    }
  }
}
