/**
 * Define global styles for the application,
 * usually html and body content.
 */

html,
body {
  font-size: 16px;
  @media screen and (max-width: 1280px) {
    font-size: 12px;
  }
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}

p {
  margin-bottom: 0px;
}

ul {
  padding-left: 0px;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
hr.solid {
  border-top: 2px solid value($color-basic, bright);
}

.app {
  overflow-x: hidden;
  position: relative;
  /* min-height: 150vh; */
  /* background: url('~/assets/images/main-bg.svg');
  background-repeat: no-repeat;
  background-position: 0% 100%; */
  /* background-size: contain; */
  /* @media only screen and (max-width: $md) {
    background-position: 0% 100%;
  }
  @media only screen and (max-width: $sm) {
    background-position: 0% 125%;
  } */
}

.previous_btn {
  background-color: value($color-basic, brightest) !important;
  color: value($color-basic, dark) !important;
  border: 2px solid value($color-basic, bright) !important;
  font-family: 'Lato-Regular' !important;
  font-size: rem(18px);
  padding: rem(11px) rem(27px);
  margin-right: rem(20px);
  @media only screen and (max-width: $md) {
    position: absolute;
    bottom: -50px;
  }

  @media only screen and (max-width: $sm) {
    left: rem(20px);
    bottom: -20px;
  }
}
